*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 300px
}

.notification
{
     
     background-color: blueviolet;
     color: white;
     height: 50px;
     width: 120px;
     padding:  10px 20px;
     margin: 10px;
     border-radius: 5px;

}

#btn
{
    height : 50px;
    width: 120px;
    font-weight: bolder;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(226, 43, 98);
    color: white;
    position: fixed;
    top: 10px; 
    left: 10px;
    
}