*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rebeccapurple;
    font-size: 2rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}