*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height : 100vh;
}

#container{
    height : 400px;
    width: 400px;
    border: 2px solid green;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}