*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}


#open
{
    background-color: rebeccapurple;
    height : 50px;
    width: 100px;
    font-size: 1.2rem;
    color: white;
      border: none;
      outline: none;
      border-radius: 5px;
}
 .pop-container
 {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
 }
  .pop-container.active
  {
    display: flex;
  }
#close
{
     padding: 10px;
     top: 10px;
     right: 10px;
     position: fixed ;
     background-color: transparent;
     border: 2px solid black;
     border-radius: 4px;
}

#popup-item
{
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0,3);
    font-size: 20px;
}