body{
    display: flex;
    justify-content: center;
    align-items: center;

}

#container{
    height: 500px;
    width: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0, 0, 0.5);
}

#image-container
{
    display: flex;
    transition: all 0.3s linear;
    transform: translateX(0);
}
#image {
    display: flex;
    transition: transform 0.3s linear;
}

img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}